$text-box-color: #B0B0B0;
.sectionContainer {
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  justify-content: space-between; 
  color: $text-color;
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
  text-decoration-color: aquamarine;
  background-color: $payment-container-color;
  padding: 1rem;
  margin: 5px;
  border-radius: 30px;
  flex: 1 1 55%;
  height: calc(100vh - 100px);

}

#chat.light-mode {
  background-color: #c5c5c5;
  color: #191C1D;
}

#chat.dark-mode {
  background-color: $payment-container-color;
  color: #f4f4f4;
}

.chat-container {
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.messages {
  position: relative;
  scroll-behavior: smooth;
  overflow-y: auto;
  padding-bottom: 20px;
  padding: 10px;
  max-height: calc(100% - 36.5px);
}

.message {
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  max-width: 53%;
}

.received {
  background: linear-gradient(to left, #C3D2FF, #FDEAFD);
  color: black;
  text-align: left;
  margin-right: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sent {
  background-color: #E8F4FF;
  color: black;
  text-align: right;
  margin-left: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container {
  bottom: 10px;
  width: 100%;
  background-color: #212121;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 6px;
}

#chatbox.light-mode {
  background-color: #ffffff;
  color: #191C1D;
}

#chatbox.dark-mode {
  background-color: #212121;
  color: #f4f4f4;
}

.textbox {
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  width: calc(100% - 60px);
  background-color: #00000000;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.textbox::placeholder {
  color:#afafaf;
  font-family: "Comfortaa", sans-serif;
  font-weight: lighter;
}
.circle-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;  
  z-index: 10;
}

#mic {
  align-items: center;
  justify-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(117, 117, 117); 
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
.loader {
  background-image: linear-gradient(to bottom, #B591F8, #DB9C9C);
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  z-index: 0;
  border: none;
  border-radius: 100%;
  border-top-left-radius:100%;
  border-top-right-radius:100%;
  width: 40px;
  height: 40px;
  animation: none;
}

.loader.active {
  width: 40px;
  height: 40px;
  top: -2.5px;
  left: -2.5px;
  border: 5px solid  #d8b8b8;
  border-radius: 1000%;
  border-top: 5px solid #B591F8;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#waveform {
  width: 100%;
  height: 50px;
}

.message.sent {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%; /* Ensure the container takes full width */
  overflow: hidden; /* Prevent overflow issues */
}
.circle-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}
#waveform {
  flex-grow: 1; /* Allow the waveform to take up remaining space */
  height: 50px;
}
