h1 {
    margin: 10px;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.toggle-form {
    text-align: center;
    margin-top: 10px;
}

#login-form{
    background-color: black;
    padding: 150px;
    padding-right: 300px;
    padding-left: 300px;
    border-radius: 30px;
}

#signup-form {
    background-color: black;
    padding: 150px;
    padding-right: 300px;
    padding-left: 300px;
    border-radius: 30px;
}

#login-form.dark-mode {
    background-color: #000000;
    color: #f4f4f4;
}

#login-form.light-mode {
    background-color: rgb(222, 222, 222);
    color: black;
}

.toggle-form a {
    color: #4CAF50;
    text-decoration: none;
}

.toggle-form a:hover {
    text-decoration: underline;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #191C1D;
}

body.dark-mode {
    background-color: $background-color;
    color: #f4f4f4;
}

.error {
    color: red;
    font-weight: bold;
}

