$text-box-color: #B0B0B0;
.paymentInfo {
    justify-content: space-between;
    // display: block;'position: relative;
    position: relative;
    justify-content: space-between; 
    color: $text-color;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    text-decoration-color: aquamarine;
    background-color: $payment-container-color;
    padding: 1rem;
    margin: 5px;
    border-radius: 30px;
    flex: 1 1 55%;
    height: calc(100vh - 100px);
    
}

.chat-container {
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.message {
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  max-width: 53%;

}

.received {
  background: linear-gradient(to left, #C3D2FF, #FDEAFD);
  color: black;
  text-align: left;
  margin-right: auto;
}

.sent {
  background-color: #E8F4FF;
  color: black;
  text-align: right;
  margin-left: auto;
}

.container {
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(62, 62, 62);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.textbox {
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  width: calc(100% - 60px);
  background-color: #00000000;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.textbox::placeholder {
  color:#afafaf;
  font-family: "Comfortaa", sans-serif;
  font-weight: lighter;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  // border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  // border-radius: 500px; /* this doesn't work */
  // border-width: 4px;
  // border-style: solid;
}

.circle-button::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
  // top: -10px;
  // left: -10px;
  // bottom: -10px;
  // right: -10px;
  position: absolute;
  // z-index: -1;
}

#mic {
  // position: absolute;
  align-items: center;
  justify-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}